$color-lightgray1: #656565;
$color-lightbrown1: #484242;
$color-darkgray1: #383737;
$color-darkbrown2: #171616;
$color-lightgray2: #868383;

#footer {
  background: $color-darkbrown2;
  padding-bottom: 80px;
  padding-top: 80px;
}

.footer__wrapper {
  color: $color-lightgray1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__button {
  padding-bottom: 20px;
  position: relative;
  top: -105;
  font-size: 12px;
}

.footer__button-icon {
  cursor: pointer;
}
.footer__button-icon:hover {
  backface-visibility: hidden;
  transition: color 0.5s ease;
  color: $color-lightgray2;
}

.footer__media {
  font-size: 13px;
}

.no-overflow {
  overflow: visible;
}

.footer__details {
  padding-top: 25px;
  display: flex;
  text-align: center;

  span {
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: $color-darkgray1;
  }
}
