$color-darkgrey3: #4e4c4c;

#about-me {
  background: #2b2b2b;
}

.aboutme__picture {
  width: 0%;
  @media (min-width: 800px) {
    padding-top: 10%;
    vertical-align: middle;
    width: 60%;
    height: auto;
  }
}

.aboutme__right-title {
  font-weight: 600;
  font-size: calc(2rem + 0.2vw);
  color: white;
}

.aboutme__right-span {
  line-height: calc(2rem + 1vw);
  margin: 1em 0em 2em 0em;
  font-weight: 100;
  font-size: calc(1.2rem + 0.2vw);
  color: #909294;
}

.aboutme__right-download-wrapper {
  margin-top: 1.6em;
  color: white;
  @media (min-width: 800px) {
    float: right;
    width: 60%;
  }
}

.aboutme__right-download--text {
  color: white;
  padding: 5px 5px 5px 15px;
  font-weight: 500;
  font-size: calc(1rem + 0.5vw);
}

.aboutme__right-download--button {
  cursor: pointer;
  background: #505152;
  padding: 15px 0px 15px 0px;
  width: 100%;
  @media (min-width: 800px) {
    width: 50%;
  }
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px #999;
}

.aboutme__right-download--button:active {
  background-color: $color-darkgrey3;
  box-shadow: 0 5px #777;
  transform: translateY(4px);
}

.aboutme__right-download--button:hover{
  background: $color-darkgrey3;

}

.aboutme__right__contact {
  @media (min-width: 800px) {
    float: left;
    width: 40%;
  }
}
