body {
  font-family: "opensans-regular", sans-serif;
  color: white;
}

h1 {
  font-weight: 700;
  margin: 100px 0 20px;
  font-size: 90px;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

a {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}
span {
  color: white;
}

header {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background: url("https://unsplash.it/1080/720/?image=377") no-repeat fixed
    center / cover;
  text-align: center;
  overflow: hidden;
}

ul {
  padding-inline-start: 0em;
}

nav ul {
  color: white;
  list-style: none;
  font-size: 20;
}

div {
  display: block;
}

nav li {
  font-size: 14px;
  padding-right: 13px;
  padding-bottom: 8px;
  padding-left: 13px;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  height: 20px;
}

.headline h3 {
  margin-bottom: 25px;
  color: #b8b9ba;
  padding: 20px 40px 20px 40px;
  margin: auto;
  width: 80%;
}

.headline h2 {
  font-weight: 500;
  margin: 100px 0 20px;
}

.headline-down-button {
  padding-top: 14em;
}

hr {
  width: 70%;
}

.section-row {
  margin: auto;
  width: 96%;
  max-width: 1020px;
  margin: auto;
}

section {
  padding: 1em 1em 1em 1em;
  height: auto;
  padding-top: 3em;
  position: relative;
  margin: auto;
  overflow: hidden;
}

#navigation-links {
  //  position: fixed;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  background: #909294;
}

// ABOUT ME SECTION

#about-me {
  background: #2b2b2b;
}

.profile-picture {
  vertical-align: middle;
  width: 70%;
  height: auto;
}

#div-about-me h2 {
  font-weight: 600;
  font-size: 25px;
  color: white;
}

#div-about-me span,
p {
  line-height: 30px;
  margin: 1em 0em 2em 0em;
  font-weight: 100;
  font-size: 16px;
  color: #909294;
}

#about-me-download {
  margin-top: 1.6em;
  color: white;
  float: right;
  width: 60%;
  text-align: center;
}

#about-me-download span {
  color: white;
  padding: 5px 5px 5px 15px;
  font-weight: 500;
}

#about-me-button {
  background: #505152;
  padding: 8px 0px 8px 0px;
  width: 50%;
  border-radius: 4px;
}

#about-me-contact {
  float: left;
  width: 40%;
}

// RESUME SECTION

#resume {
  color: black;
}

.left-column {
  width: 25%;
  float: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.right-column {
  float: right;
  width: 75%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#resume h2 {
  color: #2b2b2b;
}

#resume hr {
  width: 100%;
  padding: 1em 1em 1em 1em;
}

#resume span {
  color: #6e7881;
  font-weight: 100;
}

#resume h3 span {
  border-bottom: 3px solid #11abb0;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 500;
}

#resume h2 {
  font-size: 25px;
  font-weight: 700;

}

#resume-separator hr{
  padding: 2em;
}

#resume .resume-items{
  font-weight: 400;
  font-style:  italic;
  margin: auto;
  padding: 0em 0em 1em;
}
