@import "../../universal/components/navigation/styles.scss";
@import "../../universal/components/home/styles.scss";
@import "../../universal/components/about/styles.scss";
@import "../../universal/components/resume/styles.scss";
@import "../../universal/components/projects/styles.scss";
@import "../../universal/components/contact/styles.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: "opensans-regular", sans-serif;
  color: white;
  margin: 0;
}

ul {
  padding-inline-start: 0em;
}

a {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}
span {
  color: white;
}

section {
  padding: 1em 1em 1em 1em;
  height: auto;
  padding-top: 3em;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.section-row {
  margin: auto;
  width: 96%;
  max-width: 560px;
  @media (min-width: 800px) {
  max-width: 1020px;
  }
}

.left-column {
  @media (min-width: 800px) {
    width: 25%;
    float: left;
  }
  padding-top: 5%;
  padding-bottom: 5%;
}

.right-column {
  @media (min-width: 800px) {
    float: right;
    width: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  margin: auto;

}
