$color-cyan: #15c4ca;
$color-darkbrown: #2b2b2b;
$color-lightbrown: #6e7881;
$color-lightgrey: #e6e8e6;
$color-grey: #d4d2d2cc;


#resume {
  color: black;
}

.resume-items {
  font-weight: 400;
  margin: auto;
  padding: 0em 0em 1em;
  @media (max-width: 800px) {
    text-align: center;
    padding-bottom: 3%;
  }
}
.resume__section-wrapper {
  border-bottom: 1px solid $color-lightgrey;
}

.resume__section-wrapper {
    &:last-child   {
        border-bottom: 0px;
    }
 }

.resume__element-wrapper {
  padding-bottom: 5%;
}

.resume__subsection {
  padding-top: 5%;
  padding-bottom: 5%;
}

.resume__section-separator {
  width: 100%;
  border: none;
}

.resume__element__paragraph {
  padding: 5px;
  color: $color-lightbrown;
  font-weight: 100;
  font-size: calc(1.6rem + 0.25vw);
  line-height: 30px;
}
.resume__element__headline {
  padding-left: 0px;
  font-weight: 400;
  font-style: italic;
}

.resume__element__description {
  color: $color-lightbrown;
  font-weight: 100;
  font-size: calc(1.4rem + 0.15vw);
  line-height: 30px;
}

.resume__section__title {
  border-bottom: 3px solid $color-cyan;
  color: $color-darkbrown;
  font-size: calc(1.6rem + 0.2vw);
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

.resume__section__title-wrapper {
  padding-top: 5%;
  @media (max-width: 800px) {
    text-align: center;
  }
}

.resume__element__title {
  font-size: calc(2rem + 0.5vw);
  font-weight: 700;
  color: $color-darkbrown;
  @media (max-width: 800px) {
    text-align: center;
  }
}

.skills__element__level {
  position: absolute;
  top: 0;
  padding-right: 24px;
  background: $color-darkbrown;
  display: inline-block;
  height: 42px;
  border-radius: 3px 0 0 3px;
}

.skills__element {
  position: relative;
  margin-bottom: 60px;
  background: $color-grey;
  height: 42px;
  border-radius: 4px;
  list-style-type: none;
}
.skills__element__name {
  color: black;
  letter-spacing: 2px;
  font-size: calc(1.5rem + 0.2vw);
  top: -36px;
  position: relative;
  text-decoration: none;
}

.skills__section__wrapper{
  padding-top: 5%;
}
