$color-lightgray2: #868383;
$color-cyan1: #40cccc;

header {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background: url("../../../public/images/background4.png") no-repeat fixed
    center / cover;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  @media (min-width: 800px) {
    background: url("../../../public/images/background4.png")  no-repeat fixed
      center / cover;
  }
}

.home__wrapper {
  @media (min-width: 365px) {
    padding-top: 80px;
  }

  @media (min-height: 365px) {
    padding-top: 0px;
  }

  @media (min-width: 800px) {
    padding-top: 0px;
  }
}

.home__headline--summary {
  font-size: calc(2rem + 0.3vw);
  font-weight: 500;
  color: #b8b9ba;
  padding: 40px 40px 40px 40px;
  letter-spacing: 0.12rem;
  line-height: 3.4rem;
  width: 80%;
  margin: auto;
  @media (min-width: 800px) {
    padding: 20px 40px 20px 40px;
    width: 45%;
    font-size: calc(1rem + 0.8vw);
  }
}

.home__headline--title {
  font-size: calc(3rem + 4.2vw);
  font-weight: 700;
  margin: 0;
  padding-top: 12.5%;
}

.home__button {
  visibility: visible;
  font-size: 18px;
  @media (min-width: 365px) {
    padding-top: 5%;
  }

  @media (min-width: 500px) {
    padding-top: 10%;
  }

  @media (min-width: 800px) {
    padding-top: 12%;
    font-size: 16px;
  }
}

@keyframes smoothPadding {
  40% {
    padding-top: 5px;
  }
  80% {
    padding-top: 2px;
  }
  95% {
    padding-top: 4.5px;
  }
}

.home__button--icon {
  backface-visibility: hidden;
  cursor: pointer;
}
.home__button--icon:hover {
  backface-visibility: hidden;
  transition: color 0.5s ease;
  color: $color-cyan1;
  padding-top: 5px;
  animation: smoothPadding 0.8s ease-in infinite;
}

.home__headline--bar {
  width: 45%;
  border: none;
  padding: 0.5%;
  height: 0.5px;
}
